<config>
    <!-- TODO change models to provider -->
    <models provider="bedrock">
        <!-- TODO change name to alias -->
        <!-- TODO change cost to price -->
        <!-- TODO price is optional depending on provider -->
        <!-- TODO Create connection settings yaml file in home dir. Also have connection settings in plugin -->
        <!-- TODO First connection in settings to have a model takes priority -->
        <model name="Sonnet" id="anthropic.claude-3-sonnet*" inputCost="3.0" outputCost="15.0"/>
        <model name="Haiku" id="anthropic.claude-3-haiku*" inputCost="0.80" outputCost="4.0"/>

        <!-- TODO Alias can point to an alias -->
        <!-- TODO First alias takes priority. Have aliases section? -->
        <!-- TODO Need "profile" which contain a list of aliases. User picks root agent and profile -->

        <modelAlias name="Haiku" alias="General"/>
        <modelAlias name="Haiku" alias="Programming"/>
        <modelAlias name="Haiku" alias="Router"/>
    </models>
<!--    <agent id="MainRouter"-->
<!--           model="Router"-->
<!--           title="Main"-->
<!--           description="Routes the users query to the appropriate agent">-->
<!--        <input>-->
<!--            <system>-->
<!--                For the user prompt decide witch LLM agent is best able to handle this task.-->
<!--                - The agents are part of a development IDE-->
<!--                - Only choose one agent.-->
<!--                - Only output the name of the agent.-->
<!--                - Do not output anything else.-->

<!--                The agents and their descriptions are:-->
<!--                <listRoutes group="MainAgents"/>-->
<!--            </system>-->
<!--            <priorConversation/>-->
<!--            <user keepInConversation="false">-->
<!--                <userQuery/>-->
<!--            </user>-->
<!--        </input>-->
<!--        <routing>-->
<!--            <routeBasedOnOutputAgentId/>-->
<!--        </routing>-->
<!--    </agent>-->
<!--    <agent id="GeneralQueryAgent"-->
<!--           group="MainAgents"-->
<!--           model="General"-->
<!--           title="General Query"-->
<!--           description="Answers general queries. Choose this if knowledge of the currently open project is not needed.">-->
<!--        <input>-->
<!--            <system>-->
<!--                Answer the following query in <userLocale/>.-->
<!--            </system>-->
<!--            <priorConversation/>-->
<!--            <user>-->
<!--                <userQuery/>-->
<!--            </user>-->
<!--        </input>-->
<!--        <output>-->
<!--            <assistant>-->
<!--                <assistantOutput/>-->
<!--            </assistant>-->
<!--        </output>-->
<!--        <routing>-->
<!--            &lt;!&ndash; TODO Need to set next agent if user enters another prompt &ndash;&gt;-->
<!--            <onContinuedConversation id="MainRouter"/>-->
<!--        </routing>-->
<!--    </agent>-->
<!--    <agent id="ProgrammingAgent"-->
<!--           group="MainAgents"-->
<!--           model="Programming"-->
<!--           title="Update Project Files"-->
<!--           description="Can read/write to files in the current project. Pick this agent if the user wants to make changes to any files.">-->
<!--        <input>-->
<!--            <system>-->
<!--                &lt;!&ndash; TODO Include programming rules &ndash;&gt;-->
<!--            </system>-->
<!--            <priorConversation/>-->
<!--            <forEachOpenFile>-->
<!--                <user>-->
<!--                    <fileText/>-->
<!--                </user>-->
<!--            </forEachOpenFile>-->
<!--            <user>-->
<!--                <userQuery/>-->
<!--            </user>-->
<!--        </input>-->
<!--        <output>-->
<!--            <assistant>-->
<!--                <assistantOutput/>-->
<!--            </assistant>-->
<!--        </output>-->
<!--        <routing>-->
<!--            &lt;!&ndash; TODO Handle close conversation &ndash;&gt;-->
<!--            <applyPatches/>-->
<!--            <endConversation/>-->
<!--            <onContinuedConversation id="MainRouter"/>-->
<!--        </routing>-->
<!--    </agent>-->
</config>