<config>
    <models provider="bedrock">
        <model name="Claude 3" id="anthropic.claude-3-haiku*" inputCost="3.0" outputCost="15.0"/>

        <modelAlias name="Claude 3" alias="General"/>
        <modelAlias name="Claude 3" alias="Programming"/>
        <modelAlias name="Claude 3" alias="Router"/>
    </models>
    <agent id="MainRouter" type="router" model="Router" title="Main" description="Routes the users query to the appropriate agent">
        <system>
            For the user prompt decide witch LLM agent is best able to handle this task.
            &nbsp;Only choose one agent. Only output the name of the agent. Do not output anything else.

            <routes groupName="MainAgents"/>
        </system>
        <prompt>
            <userPrompt/>
        </prompt>
    </agent>
    <agent id="GeneralQuestionAgent" group="MainAgents" type="general" model="General Questions" title="General Question" description="Answers general questions">
        <system>
            <!-- TODO Include user Locale -->
        </system>
        <prompt>
            <userPrompt/>
        </prompt>
        <!-- TODO Attribute to leave conversation open/closed -->
        <!-- TODO Agent to run if user enters another prompt (default is this one) -->
    </agent>
    <agent id="ProgrammingAgent" group="MainAgents" type="general" model="Programmer" title="General Question" description="Answers general questions">
        <system>
            <!-- TODO Include open tabs -->
            <!-- TODO Include programming rules -->
        </system>
        <prompt>
            <userPrompt/>
        </prompt>
        <!-- TODO Apply patch -->
    </agent>
</config>